@import "../../sccs/styles.scss";

.machine {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__window {
    background-color: $window-main-color;
    flex-basis: 80%;
    padding: 30px;
  }

  &__control-panel {
    background-color: $cp-main-color;
    flex-basis: 20%;
  }
}

@media (min-width: 720px) and (max-width: 992px) {
  .machine {
    &__window {
      flex-basis: 70%;
    }

    &__control-panel {
      flex-basis: 30%;
    }
  }
}

@media (max-width: 720px) {
  .machine {
    &__window {
      flex-basis: 60%;
    }

    &__control-panel {
      flex-basis: 40%;
    }
  }
}
