@import "../../sccs/styles.scss";

.window {
  min-height: 100%;
  border: 2px solid $border-color;
  background-color: $window-inner-color;
  &__cards-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    margin-right: -3.3%;
  }
}

@media (max-width: 992px) {
  .window {
    &__cards-wrapper {
      margin-right: -5%;
    }
  }
}

@media (max-width: 720px) {
  .window {
    &__cards-wrapper {
      margin-right: 0;
    }
  }
}
